# PostgreSQL / TimescaleDB
POSTGRES_DB=oh_my_trading
POSTGRES_USER=omt
POSTGRES_PASSWORD=omt_local_password
POSTGRES_PORT=15432

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=omt
RABBITMQ_DEFAULT_PASS=omt_local_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
